
<style>

#dw{
  position: absolute;
  left: 62%;
  top: 57%;
}


.entry {
    opacity: 0;
}

.table{
  text-align: center;
}
#donut2{

  position: absolute;
  left: 74%;
  top: 0%;
}
#donut3{
word-wrap: b;
  position: absolute;
  left: 82%;
  top: 24%;
}

#donut4{
  position: absolute;
  left: 82%;
  top: 50%;
}

#donut5{
  position: absolute;
  left: 74%;
  top: 73%;
}
#mybut{
  position: absolute;
  top: 84%;
  left: 1%;
  width: 30%;
  text-align: center;
}

.switch{
    position: absolute;
  top: 53%;
  left: 24%;
}

 .culture_people{background-color:rgb(255,255,229) !important;} 
 .economics_finnace{background-color:rgb(247,252,185) !important;} 
 .education_tech{background-color:rgb(217,240,163) !important;} 
 .energy_transportation{background-color:rgb(173,221,142) !important;} 
 .environment{background-color:rgb(120,198,121) !important;} 
 .government{background-color:rgb(65,171,93) !important;} 
 .health{background-color:rgb(35,132,67) !important;} 
 .labor{background-color:rgb(0,104,55) !important;} 
 .law_order{background-color:rgb(0,69,41) !important ;
  color:white !important;} 

.filtered{
  opacity: .44;
}
/*.autoco{
  width: 350px;
*/
/*}*/

md-tabs.md-default-theme.md-accent md-tab-item{
  color: grey !important;
}


.close {
  font-size: 40px !important;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
}
.close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}



#chart{
  /*width: 50%;*/
  /*margin: 0 auto;*/
  position: absolute;  
  left: 30%;
  top: 1%;
}

.md-tab{
  color :rgb(168, 168, 168);
}

#donut{
  margin: 0 auto;
  left: 33%;
  position: absolute;


}


.md-autocomplete-suggestions{
  width: 350px;
    word-wrap: break-word !important;
    opacity: .84 !important;

}
.meta-stats{
  position: absolute;
  right: 1%;
  top: 31%;
  font-size: 24px;
  word-wrap: break-word;
  width: 160px;
}

.node {
  stroke-width: 1.5px;
}

.demo-container{
  display: block;
}

#demo{
  position: absolute;
  top: 4%;
  left: 1%;
  width: 30%;
  z-index: 0;

}

.highlight{
    /*text-overflow: ellipsis;*/
/*        overflow: hidden;
    white-space: nowrap; 
    width: 3px;*/

}


md-tabs.md-default-theme.md-accent md-tabs-wrapper {
  background-color: rgb(54, 103, 30);
}

  #tab-content-002 {
    background-color: #42A5F5; 
  }
 #tab-content-003 {
    background-color: #689F38; }
  #tab-content-004{
    background-color: #26C6DA; }



</style>

<div class="entry">
<div id="demo" layout="column">
<div  class="demo-container md-whiteframe-z4 show-source">
  <md-content layout-padding class="autoco" layout="column">
    <form ng-enter="customTags(searchText)" ng-submit="$event.preventDefault()" >
      <p> Interact, explore, and analyze 65,499 Government expenses beautifully.</p>


      <md-button class="md-raised md-primary" ng-disabled="onPay" href="/paysearch" target="_self">Search Expenses</md-button>
<md-button class="md-raised md-primary" ng-disabled="onDoc" href="/" target="_self">Search Documents</md-button>


      <md-autocomplete
          ng-disabled="isDisabled"
          md-no-cache="noCache"
          md-selected-item="selectedItem"
          md-search-text-change="searchTextChange(searchText)"
          md-search-text="searchText"
          md-selected-item-change="selectedItemChange(item)"
          md-items="item in querySearch(searchText)"
          md-item-text="item.description"
          md-min-length="0"
          placeholder="Which government expenses are you looking for?">

        <md-item-template  >
          <span md-highlight-text="searchText" md-highlight-flags="^i" >{{item.description}}</span>
        </md-item-template>

        <md-not-found>
          Press enter to search.
        </md-not-found>

      </md-autocomplete>
      <br/>

<div><md-chips  ng-model="customs" ng-click="searchText = '';" placeholder="+Filter"  secondary-placeholder="Add Custom Text Filter" ></md-chips></div>

        <md-content class="md-primary">
    <md-tabs style="background-color: blue;" class="md-primary" md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">
      <md-tab id="tab1" style="background-color: #42A5F5;">
        <md-tab-label>Filters</md-tab-label>
        <md-tab-body>
 
<!-- Content for tab1  -->
   <section layout="row" layout="row" layout-wrap>

      <md-button class="md-raised" ng-repeat="filter in display.filters" ng-click="filtered(filter, $index)"  ng-class="displayClass(filter)" ng-style="getStylish(filter)" >{{filter.name}}</md-button>
    </section>

        </md-tab-body>
      </md-tab>
      <md-tab id="tab2" ng-disabled="data.secondLocked">
        <md-tab-label>Your Items</md-tab-label>
        <md-tab-body>
<!-- Content for tab2  -->
<md-card ng-show="!selected.length">
 <md-card-content>
<h2>You haven't added any documents yet! Select a document from your query to add it to Your Items.</h2>
 </md-card-content>
</md-card>


<md-card ng-repeat="item in selected track by $index">
 <md-card-content>
 <a ng-click="removeSelected($index)" class="close">×</a>
 <h3 class=".md-body-2">{{item.description}}</h3>
 <p class=".md-caption">Category: {{item.category}}</p>
 <p>Ministry: {{item.ministry}}</p>
 <p>Amount: ${{item.amount}}</p>
 <p>Receipt: {{item.receipt || 'Not Available'}}</p>

 </md-card-content>
</md-card>


        </md-tab-body>
      </md-tab>
      <md-tab id="tab3">
        <md-tab-label>Export</md-tab-label>
        <md-tab-body>
       

   <section layout="row" layout="row" layout-wrap>
      <md-button class="md-raised" target="_self"  href="/api/yourdatas/download" ng-disabled="!selected.length">Your Data</md-button>

      <md-button class="md-raised" target="_self"  href="/api/payments/yourdata" ng-disabled="!metadata.size">Download Current Query</md-button>



    </section>



        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-content>
  <div class="md-padding" layout="row" layout-sm="column" layout-align="left center"
       style="padding-top: 0;">
  </div>


    <a ng-click="showWelcome()"class="help">?</a>

<a href="https://twitter.com/share" class="twitter-share-button" data-text="Visual search engine for the documents of Alberta">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  <!--     <p style="padding-left: 15px;">This Web App had the best preformce best in Safari. It also works well in Google Chrome. It was created for the Apps for Alberta Challange using <a href="http://bit.ly/1FGMo1e"> this </a> dataset. </p> -->

    </form>
  </md-content>
  </div>
</div>

	<div>

		<svg id="chart" width="1280" height="800"
		  viewBox="0 0 1280 800"
		  preserveAspectRatio="xMidYMid meet">

		  <main-donut ng-show="metadata.size" metadata ="metadata" vis="mainDonut" customs ="customs" customnodes="customNodes" metasignal = "upDateMain" id='dots'></main-donut>

		</svg>


		<paydonut-chart ng-show="metadata.size" data="metadata" slice = "donut1" switch-fn = "donut_switch('donut1')" id="donut2" >
	<p class="title"></p>
		</paydonut-chart>
		

		<paydonut-chart data="metadata" ng-show="metadata.size" id="donut3" slice = "donut2" switch-fn = "donut_switch('donut2')" >
		<p class="title"></p>
		</paydonut-chart>
		<paydonut-chart data="metadata" ng-show="metadata.size" id="donut4" slice = "donut3" switch-fn = "donut_switch('donut3')" >
		<p class="title"></p>
		</paydonut-chart>

		<paydonut-chart data="metadata" ng-show="metadata.size" id="donut5" slice = "donut4" switch-fn = "donut_switch('donut4')" >
		<p class="title"></p>
		</paydonut-chart>




		   <div id="mybut">
		   <h3>Statistical Analysis</h3>
		        <md-button ng-click="showAdvanced($event)" ng-disabled="!aSig" class="md-raised md-primary">Significant Result !</md-button>





	</div>




</div>


</div>
